header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color:black;
    height: 90px;
    
}

nav {
    color: black;
    background-color: black;
    height: 80px;
    border: 1.5px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

.home {
  color: white;
}

.logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    padding: 6px;
    margin-top: 6px;
    
}

.main-img-container {
  border: white;
  height: 600px;
}


.signup-log {
    display:flex;
    flex-direction: row;
    margin-right: 13px;
   
}

.log-in {
    font-size: 16px;
}

ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-right: 15px;
    
}

.search-bar {
  width: 400px;
  height:65px;
  background: lightgray;
  display:flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background:transparent;
  flex: 1;
  border: 0;
  outline:none;
  padding: 24px 20px;
  font-size: 20px;
}


.search-bar button img {
  width:20px;
}

.search-bar button {
  border: 0;
  border-radius:  50%;
  width: 36px;
  height: 36px;
  background:lightgray;
  cursor: pointer;
}


.hero-container {
  background-color: black;
  height: 500px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
 
  height:20px;
}

h1 {
  font-size: 75px;
  
  text-align: center;
  height:160px;
  color: white;
  margin-top: 80px;
  padding: 4px;

}

.red-meat-text {
  color: red;
}




.home {
   
}

main {
  
    
    
    height: 600px;
}

.motivational-pitch-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
}
    


.motivational-pitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  border: 2px solid blue;
  width: 85%;
  margin-top: 6px;
}

h2{
  font-size: 75px;
  font-weight: bold;
  border: 2px black solid;
  height:90px;
  margin-top: 6px;
  text-align: center;
  width: 500px;
}

.card-container {
  height: 1000px;
  width: 1500px;
  border: 2px solid black;
 margin-bottom: 50px;
}

.aside-ad {
  border: 2px solid black;
  margin-top: 6px;
  text-align: center;
  width: 260px;
}

.card-one-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 2px 16px;
  font-weight: bold;
}



/* unvisited link */
a:link {
    color: white;
  }
 
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: red;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: 
  }
  
  a:active {
    text-decoration: 
  }

  .sign-up-button {
    transition-duration: 0.4s;
    border-radius: 4px;
    font-size: 16px;
    background-color: red;
    color: white;
    
  }
  
  button:hover {
   background-color:
   color: white;
  }
